<div class="container form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f| %>
    <div class="container header">
      <%= link_to unauthenticated_root_path do %>
        <span class="fa fa-arrow-left"></span>
      <% end %>
      <h2>REGISTER</h2>
      <%= f.submit "Next", class: "header-submit" %>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
       <div class="form-group">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Full Name" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
    </div>

   

    <div class="form-group">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
    </div>
  <% end %>
</div>
