<div class="container is-flex flex-grow-1 flex-direction-column">
  <%= form_with(model: @category, method: :post) do |form| %>
    <div class="container header">
      <%= link_to authenticated_root_path do %>
        <span class="fa fa-arrow-left"></span>
      <% end %>
      <h2>New Category</h2>
      <%= form.submit "Save", class: "header-submit" %>
    </div>

    <div class="form-group my-2 shadow-box">
      <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "form-control", required: true %>
      <%= form.url_field :icon, placeholder: "Icon", class: "form-control", required: true %>
      <%= form.text_area :details, placeholder: "Details", class: "form-control" %>
    </div>
  <% end %>
</div>
